<%= render 'shared/card', has_return: true, breadcrumbs: {crumbs: [{name: "Estudiantes", path: contracts_path}], active_label: "Nuevo"} do %>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h5>Nuevo Estudiante</h5>
    <br>
    <%= render 'form', student: @student %>
  </div>
</div>
