<div class="card w-100">
    <div class="card-header">
      <%= link_to( request.referer, class: 'btn btn-outline-dark btn-sm') do %>
        <%= icon('fas', 'arrow-left', 'Volver') %>
      <% end %>
    </div>
  <div class="card-body">
    <%= yield %>
  </div>
</div>

