<div class="row">
  <div class="col-lg-12">
    <% flash.each do |name, msg| %>
      <div class="alert <%= (name == 'alert' ? 'alert-danger' : 'alert-success') %> fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong><%= icon('fas', 'bell') %></strong> <%= msg %>
      </div>    
    <% end %>
  </div>
</div>

