<footer class="navbar-default navbar-fixed-bottom hidden-xs"  >
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p style="margin: 20px 0; font-size: 12px;">
          <%= Time.current.year %> &copy; Escuela autmovilistica.
        </p>
      </div>

      <div class="col-lg-3">
        <p style="margin: 20px 0; text-align: right; font-size: 12px;">
          <i class="fa fa-code fa-sm fa-fw" style="color: #3A3A3A;"></i> Made by <%= link_to 'JDBR', 'https://github.com/JoDaBaRo', style: 'color: #3A3A3A;'%> and company 
        </p>
      </div>
    </div>
  </div>
</footer>
