<div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to( request.referer, class: 'btn btn-default btn-sm') do %>
        <%= icon('fas', 'arrow-left', 'Volver') %>
      <% end %>
    </div>
  <div class="panel-body">
  </div>
</div>

