<h1>Welcome</h1>

<div id='welcome_page'>
  <div class="row">
    <% unless current_user %>
      <div class="col-6">
        {{message}}
        <br>
        <br>
        <%= link_to "sign up", new_user_registration_path %>
        <br>
        <%= link_to "log in", new_user_session_path %>
      </div>
      <% else %>
      <div class="col-6">
        Welcome <%= current_user.name %> unfortunetely the app doesn't do anything at all yet but enjoy the view
        {{message}}
        <select class="selectpicker">
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Barbecue</option>
        </select>
      </div>
      <% end %>
    </div>
</div>
