<h1>Pages#welcome</h1>

<div id='app'>
  <div class="row">
    <div class="col-6">
      {{message}}
    </div>
    <div class="col-6">
      <%= link_to "sign up", new_user_registration_path %>
    </div>
  </div>
</div>
