<%= render 'shared/card', has_return: true, breadcrumbs: {crumbs: [{name: "Clases", path: theoretical_classes_path}], active_label: "Editar"} do %>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h5>Editar clase: </h5>
    <hr>
    <%= render 'form', theoretical_class: @theoretical_class %>
  </div>
</div>
<% end %>
