<%= render 'shared/card', has_return: true, breadcrumbs: {crumbs: [{name: "Tipos de costo", path: general_costs_path}], active_label: "Editar"} do %>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h5>Editar costo: </h5>
    <hr>
    <%= render 'form', general_cost: @general_cost %>
  </div>
</div>
<% end %>