<%= render 'shared/card', has_return: true, breadcrumbs: {crumbs: [{name: "Clases practicas", path: practical_classes_path}], active_label: "Nueva"} do %>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h5>Nueva clase: </h5>
    <hr>
    <%= render 'form', practical_class: @practical_class %>
  </div>
</div>
<% end %>
